<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-3.6.1.min.js"></script>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>

        <form action="/board/update/<%= UserID %>/<%= row.BoardNumber %>" method="get">
            <table border="1">
                <input type="hidden" name="BoardNumber" value="<%=row.BoardNumber%>"/>
                <tr>
                    <td>제목</td>
                    <td><%=row.title%></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><%=row.content%></td>
                </tr>
                <tr>
                    <td>조회수</td>
                    <td><%=row.hit%></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">글 수정</button>
                        <a href="/board/list/<%= UserID %>">리스트로 돌아가기</a>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <form action="/board/delete" method="post">
            <input type="hidden" name="BoardNumber" value="<%=row.BoardNumber%>"/>
            <button type="submit" onclick=" return onDeleteSubmit()">글 삭제</button>
        </form>
    </body>
</html>